@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");
@import url("./theme.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // primary color is brand color and it shoukd be used for every interaction with the app
    --primary-25: #fcfaff;
    --primary-50: #f9f5ff;
    --primary-100: #f4ebff;
    --primary-200: #e9d7fe;
    --primary-300: #d6bbfb;
    --primary-400: #b692f6;
    --primary-500: #9e77ed;
    --primary-600: #7f56d9;
    --primary-700: #6941c6;
    --primary-800: #53389e;
    --primary-900: #42307d;
    --primary-950: #2c1c5f;

    // gray color everything isnaturally gray in ui and mostly used for text background everything
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #eaecf0;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #182230;
    --gray-900: #101828;
    --gray-950: #0c111d;
    //  gray for dark mode
    --gray-dark-25: #fafafa;
    --gray-dark-50: #f5f5f6;
    --gray-dark-100: #f0f1f1;
    --gray-dark-200: #ececed;
    --gray-dark-300: #cecfd2;
    --gray-dark-400: #94969c;
    --gray-dark-500: #85888e;
    --gray-dark-600: #61646c;
    --gray-dark-700: #333741;
    --gray-dark-800: #1f242f;
    --gray-dark-900: #161b26;
    --gray-dark-950: #0c111d;

    //  danger color for error used for negative action
    --danger-25: #fffbfa;
    --danger-50: #fef3f2;
    --danger-100: #fee4e2;
    --danger-200: #fecdca;
    --danger-300: #fda29b;
    --danger-400: #f97066;
    --danger-500: #f04438;
    --danger-600: #d92d20;
    --danger-700: #b42318;
    --danger-800: #912018;
    --danger-900: #7a271a;
    --danger-950: #55160c;

    // warning color for warning used for on hold
    --warning-25: #fffcf5;
    --warning-50: #fffaeb;
    --warning-100: #fef0c7;
    --warning-200: #fedf89;
    --warning-300: #fec84b;
    --warning-400: #fdb022;
    --warning-500: #f79009;
    --warning-600: #dc6803;
    --warning-700: #b54708;
    --warning-800: #93370d;
    --warning-900: #7a2e0e;
    --warning-950: #4e1d09;

    // success color for success used for positive action
    --success-25: #f6fef9;
    --success-50: #ecfdf3;
    --success-100: #dcfae6;
    --success-200: #abefc6;
    --success-300: #75e0a7;
    --success-400: #47cd89;
    --success-500: #17b26a;
    --success-600: #079455;
    --success-700: #067647;
    --success-800: #085d3a;
    --success-900: #074d31;
    --success-950: #053321;

    /**
          *Along with primary colors, it's helpful to have a selection of secondary colors
          *  to use in components such as pills, alerts and labels. 
          * These secondary colors should be used sparingly or as accents, while the primary color(s) should take precedence.
          *
          */
    --teal-25: #f6fefc;
    --teal-50: #f0fdf9;
    --teal-100: #ccfbef;
    --teal-200: #99f6e0;
    --teal-300: #5fe9d0;
    --teal-400: #2ed3b7;
    --teal-500: #15b79e;
    --teal-600: #0e9384;
    --teal-700: #107569;
    --teal-800: #125d56;
    --teal-900: #134e48;
    --teal-950: #0a2926;

    // cyan
    --cyan-25: #f5feff;
    --cyan-50: #ecfdff;
    --cyan-100: #cff9fe;
    --cyan-200: #a5f0fc;
    --cyan-300: #67e3f9;
    --cyan-400: #22ccee;
    --cyan-500: #06aed4;
    --cyan-600: #088ab2;
    --cyan-700: #0e7090;
    --cyan-800: #155b75;
    --cyan-900: #164c63;
    --cyan-950: #0d2d3a;

    --fuchia-25: #fefaff;
    --fuchia-50: #fdf4ff;
    --fuchia-100: #fbe8ff;
    --fuchia-200: #f6d0fe;
    --fuchia-300: #eeaafd;
    --fuchia-400: #e478fa;
    --fuchia-500: #d444f1;
    --fuchia-600: #ba24d5;
    --fuchia-700: #9f1ab1;
    --fuchia-800: #821890;
    --fuchia-900: #6f1877;
    --fuchia-950: #47104c;

    --rose-25: #fff5f6;
    --rose-50: #fff1f3;
    --rose-100: #ffe4e8;
    --rose-200: #fecdd6;
    --rose-300: #fea3b4;
    --rose-400: #fd6f8e;
    --rose-500: #f63d68;
    --rose-600: #e31b54;
    --rose-700: #c01048;
    --rose-800: #a11043;
    --rose-900: #89123e;
    --rose-950: #510b24;

    // investment color
    --investment-25: #f3f0ff;
    --investment-50: #e5dbff;
    --investment-100: #d0bfff;
    --investment-200: #b197fc;
    --investment-300: #9775fa;
    --investment-400: #845ef7;
    --investment-500: #7950f2;
    --investment-600: #7048e8;
    --investment-700: #6741d9;
    --investment-800: #5f3dc4;

    // income color
    --income-25: #ebfbee;
    --income-50: #d3f9d8;
    --income-100: #b2f2bb;
    --income-200: #8ce99a;
    --income-300: #69db7c;
    --income-400: #51cf66;
    --income-500: #40c057;
    --income-600: #37b24d;
    --income-700: #2f9e44;
    --income-800: #2b8a3e;

    // expense
    --expense-25: #fff5f5;
    --expense-50: #ffe3e3;
    --expense-100: #ffc9c9;
    --expense-200: #ffa8a8;
    --expense-300: #ff8787;
    --expense-400: #ff6b6b;
    --expense-500: #fa5252;
    --expense-600: #f03e3e;
    --expense-700: #e03131;
    --expense-800: #c92a2a;

    // subscription
    --subscription-25: #fefaf5;
    --subscription-50: #fef6ee;
    --subscription-100: #fdead7;
    --subscription-200: #f9dbaf;
    --subscription-300: #f7b27a;
    --subscription-400: #f38744;
    --subscription-500: #ef6820;
    --subscription-600: #e04f16;
    --subscription-700: #b93815;
    --subscription-800: #932f19;
  }
}
